@import 'https://fonts.googleapis.com/css2?family=Jersey+10&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.6s ease;
}

.centerElement {
    position: absolute;
    top: 8vw;
    left: 5vw;
    width: 90vw;
    height: 37vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    color: rgb(245, 239, 239);
    font-size: 3.3vw;
    border-radius: 7vw;
    background: linear-gradient(90deg,
            rgba(7, 4, 175, 0.9),
            rgba(0, 179, 164, 0.6));
}

.textElement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 57vw;
    height: 10vw;
    border-radius: 0.6rem;
    font-family: "Jersey 10", sans-serif;
    text-shadow: 4px 4px 20px black;
    color: rgb(224, 220, 220);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    width: 12vw;
    height: 5vw;
    background-color: rgb(3, 100, 100);
    box-shadow: 4px 4px 20px black;
    font-size: 1.9vw;
    font-weight: 500;
    border-radius: 2.5rem;
}

.button:hover {
    box-shadow: 1px 1px 15px black;
}

.mainContent {
    height: 100%;
    background-image: url('./assets/glitchImg.png');
    background-color: black;
}

.overlay {
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.048),
            rgba(0, 0, 0, 0.037));
    backdrop-filter: blur(14px);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav-tab{
    cursor:pointer;
}
.nav-back {
    position: sticky;
    z-index: 100000;
    top: 0;
    width: 100%;
    height: 6vw;
    background: url("./assets/glitchImg.png");
    background-size: auto;
}

.nav-backOver {
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.048),
            rgba(0, 0, 0, 0.037));
    backdrop-filter: blur(20px);
    width: 100%;
    height: 6vw;
}

.nav {
    position: sticky;
    width: 45vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    border: 1px solid rgba(122, 136, 241, 0.439);
    border-radius: 2.5rem;
    background-color: rgba(120, 171, 234, 0.427);
    color: white;
}

.tab {
    color: rgba(255, 255, 255, 0.548);
    z-index: 10;
    font-size: 1.3vw;
    font-weight: 500;
    transition: all 0.2s;
}

.active {
    color: rgb(245, 245, 245);
    z-index: 10;
    font-weight: 700;
    transition: all 0.2s;
}

.translateBar {
    width: 7.5vw;
    height: 2.6vw;
    z-index: 9;
    background: linear-gradient(90deg,
            rgba(7, 4, 175, 0.9),
            rgba(0, 179, 164, 0.6));
    border-radius: 2.5rem;
    transition: all 0.2s;
}

/* About.jsx */

.aboutContainer {
    margin: 2rem;
    overflow: hidden;
    padding: 1rem;
    justify-content: space-evenly;
}

.image {
    width: 24vw;
    height: 24vw;
    color: black;
    border-radius: 50%;
    background-image: url("../src/assets/myImg.jpeg");
    background-size: cover;
    border: 0.3vw solid rgb(22, 58, 167);
    box-shadow: 0 0 25px black, 0px 0px 23px rgba(4, 71, 138, 0.649), 0 0 15px rgb(9, 148, 213);
}

.leftAbout {
    padding: 2vw;
    font-size: 4vw;
    font-weight: 700;
}

.leftAbout p {
    font-size: 1.2vw;
    margin: 2vw;
    margin-left: 0;
}

.name span,
.gradient-text{
    background: linear-gradient(90deg,
            rgb(0, 55, 255),
            rgb(63, 135, 243),
            rgb(66, 195, 250),
            rgb(116, 233, 233));
    font-weight: 800;
    background-clip: text;
    color: transparent;
}

.downloadCV {
    width: 11vw;
    height: 3vw;
    text-align: center;
    border-radius: 2.5rem;
    background: linear-gradient(90deg,
            rgb(0, 55, 255),
            rgb(116, 233, 233));
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    cursor: pointer;
}

.downloadCV:hover,
.image:hover, .but-contact:hover, .plat-contact button:hover {
    box-shadow: rgba(46, 53, 240, 0.696) 0px 0px 20px, rgba(65, 46, 240, 0.579) 0px 0px 30px;
    /* box-shadow: rgba(46, 69, 240, 0.4) 0px 5px, rgba(46, 49, 240, 0.3) 0px 10px, rgba(46, 49, 240, 0.2) 0px 15px, rgba(46, 69, 240, 0.1) 0px 20px, rgba(65, 46, 240, 0.05) 0px 25px; */
    transform: scale(1.1);
}

/* skill-card */

.skill-cont{
    max-width: 100%;
    overflow: hidden;
    height: 60vw;
}

.skill-head {
    font-weight: 680;
    height: 30vw;
    width: 91vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    text-shadow: -5px 4px 10px rgba(0, 0, 0, 0.597);
    padding: 10px 0px;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.skill-card {
    font-size: 5vw;
    flex-shrink: 0;
    width: 17vw;
    height: 17vw;
    overflow: hidden;
    border-radius: 5vw;
    margin: 3vw;
    background-color: black;
    font-weight: 600;
    color: white;
    border: 3px solid rgb(16, 94, 140);
}

.skill-card:hover {
    scale: 1.2;
    box-shadow: 0 0 10px black, 0 0 30px rgb(34, 166, 242);
}

/* platforms */

.plat-card-holder{
    padding: 2.5vw;
    margin-left: 5vw;
}
.platLogo {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 8vw;
    left: -4.5vw;
    border: 4px dotted rgba(0, 106, 255, 0.588);
}

.platCard {
    position: relative;
    background: black;
    border-radius: 2.5rem;
    width: 22vw;
    height: 26vw;
    padding: 2vw 2vw 5vw 5.4vw;
    margin-bottom: 6.5vw;
    border: 2px solid transparent;
    border-radius: 12px;
    background:
        linear-gradient(black, rgba(0, 0, 0, 0.539)) padding-box,
        linear-gradient(270deg, rgba(0, 179, 164, 0.6),  rgba(40, 38, 138, 0.9),rgba(0, 179, 164, 0.6)) border-box;
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
    transition: all 0.4s ease;
}

.platCard:hover{
    transform: rotate(-3deg);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.plat-card-content{
    font-weight: 500;
    color: rgb(171, 168, 168);
    font-size: 1.3vw;
}

.plat-card-head {
    font-size: 1.7vw;
    margin-bottom: 5vw;
    font-weight: 650;
}

/* contact */

.contact-cont{
    margin-top: 3vw;
    padding: 0 0 5vw 0;
    width: 90vw;
    gap: 4vw;
}

.cont-form{
    width: 90vw;
    gap: 3vw;
    background:
        linear-gradient(black, rgba(0, 0, 0, 0.539)) padding-box,
        linear-gradient(270deg, rgba(0, 179, 164, 0.6),  rgba(40, 38, 138, 0.9),rgba(0, 179, 164, 0.6)) border-box;
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
    border: 0.2vw solid transparent;
    transition: all 0.4s ease;
    border-radius: 2vw;
    padding: 2vw;
}
.cont-form input{
    width : 100%;
    padding: 0 0 0 1vw;
    font-size: 1vw;
    height: 3vw;
    background-color: rgb(146, 167, 180);
    border-radius: 1.3vw;
    border: 0.2vw solid rgb(80, 164, 254);
    text-decoration: none;

}

.cont-form textarea{
    width : 100%;
    font-size: 1vw;
    height: 3vw;
    padding: 1vw;
    border-radius: 1.3vw;
    background-color: rgb(146, 167, 180);
    border: 0.2vw solid rgb(92, 163, 233);
    text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.but-contact{
    background: linear-gradient(90deg,
            rgb(0, 55, 255),
            rgb(0, 128, 255),
            rgb(66, 195, 250));
    width: 7vw;
    height: 2.8vw;
    font-size: 1.2vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    font-weight: 590;
    align-items: center;
}

.plat-contact{
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 2vw;
}

.plat-contact button{
    width: 3vw;
    height: 3vw;
    background: linear-gradient(90deg,
            rgb(0, 55, 255),
            rgb(0, 128, 255),
            rgb(66, 195, 250));
    display: flex;
    justify-content: center;
    font-weight: 590;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

canvas {
    width: 100%;
    display: block;
  }


  /* responsiveness */
@media (max-width: 550px){
    .aboutContainer{
        flex-direction: column;
    }
    .leftAbout,.rightAbout{
        width: 100%;
    }
}

@media (max-width: 850px){
    .centerElement{
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vw;
        top: 16vw;
        gap: 7vw;
        padding-top: 4vw;
    }

    .textElement{
        width: 90%;
    }
}

@media (max-width: 680px){
    .centerElement{
        top: 27vw;
    }
}


@media (max-width: 500px){
    .centerElement{
        top: 46vw;
    }
}